html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* * {
  outline: 1px solid red;
  } */

.navbar {
  font-size: 24px;
}

.nav-link {
  color: rgb(176, 83, 199);
}

.nav-link:hover {
  color: rgb(185, 5, 185);
}

li{
  list-style: none;
}

.column {
  background-color: rgba(255, 0, 242, 0.356);
}


.avatar {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
